VITE_SUPABASE_URL=https://lsbhhmyttmxwnmujlzbi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzYmhobXl0dG14d25tdWpsemJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NzMzNDYsImV4cCI6MjA5MTE0OTM0Nn0.beulsb-SFN0WljJuCmhnF0LiV0m3KlEfV3t3ZTnN3Vg
